body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.body-container {
  display: flex;
  justify-content: space-between;
}

.dashboard-input {
  display: flex;
  flex-direction: column;
}