$darkgreen: #517D42;
$green: #4DBB72;
$white: #fff;
$lightgray: #DFDFDF;
$lightblue: #A7DFFF;
$black: #000;
$orange: #FFA462;
$blue: #5C80FF;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://use.typekit.net/vmt4pzl.css%22");

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.content-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.button-primary {
  background-color: $green;
  border: none;
  color:$white;
  padding: 1rem;
  width: 6.66rem;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    margin: 1rem;
  }

  .nav-item-button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

    .nav-item-link {
      width: 6.66rem;
      text-align: center;
      margin: .5rem;
      padding: 1rem;
      background-color: $darkgreen;
      text-decoration: none;
      color: $white;
      align-content: center;
    }
  }
}

.image-grid {
  display: flex;
  justify-content: space-evenly;

  .grid-item {
    background-color: lightgray;
    width: 300px;
    text-align: center;
    height: 284px;
  }
}

.body-container {
  display: flex;
  justify-content: space-between;

  .tagline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.dashboard-input {
  display: flex;
  flex-direction: column;
}

.body-container {
  margin: 10rem;
}

.footer {
  background-color: lightgray;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.login-info-container {
  display: flex;
  flex-direction: column;
  width: 23.6rem;
  align-self: center;

  .logo-container {
    align-self: center;
    margin-bottom: 2rem;
  }

  .header-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.66rem;
    margin: 0;
  }

  .login-button {
    margin-top: 2rem;
    align-self: center;
  }

  .signup-link {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    a {
      text-decoration: none;
      color: $green
    }
  }
}

.text-input {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;

  input {
    height: 30px;
    font-size: 1.33rem;
    border: none;
    background-color: lightgray;
  }

  label {
    margin-bottom: .5rem;
    margin-top: .5rem;
    font-size: 1.33rem;
    font-weight: 700;
  }
}

.onboarding-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50rem;

  .onboarding-tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 6rem;

    .tag {
      background-color: $lightgray;
      margin: .5rem;
      padding: .7rem;
      width: fit-content;
    }
  }


  a {
    align-self: flex-end;
  }

  .logo-container {
    align-self: center;
    margin-bottom: 3.8rem;
  }

  .onboarding-header {
    font-size: 1.66rem;
    font-weight: 700;
  }
}

.radio-button-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 6rem;

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    height: 25px;
    width: 25px;
    background-color: $lightgray;
    border-radius: 50%;
    margin-bottom: .5rem;
  }

  .bookend-text {

    .bold {
      font-weight: 700;
      margin-bottom: .5rem;
    }

    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: .9rem;
    max-width: 125px;
  }
}

.dashboard-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));
  
  .logo-container {
    margin: 1rem;
  }

  .dashboard-nav-links {
    font-family: 'report', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: $black;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

.body-container {
  padding: 3.66rem;
  font-size: 1.33rem;
  font-weight: bold;
  flex-direction: column;
  border: 1px solid $black;

  .button-primary {
    align-self: flex-end;
  }

  span {
    margin: 2rem 0;
  }

  .dashboard-input {
    .call-selection-container {
      align-self: center;
      .call-type-button {
        background-color: $orange;
        border: none;
        font-size: 1.33rem;
        color: $white;
        padding: 48px 12px;
        margin: 1rem;
      }
    }

    .language-container {
      align-self: center;

      .language-button {
        background-color: $blue;
        border: none;
        color: $white;
        margin: 1rem;
        padding: 24px 12px;
      }
    }
  }

}